# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
.venv/
.venv*/

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Build / EXE
build/
dist/
frontend-react/dist/
*.spec

# Frontend
node_modules/
frontend-react/node_modules/

# Logs
*.log

# VSCode / IDE
.vscode/
.idea/

# Outros
*.zip
*.rar
backup
backups/
.env
.env.*
!.env.example
